html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  word-break: keep-all;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: #333;
  margin: 0;
  font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
}

.grid {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
}

nav {
  background-color: #000;
  padding: 0.5em;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.5;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature {
  width: 200px;
}

p {
  line-height: 1.25;
  letter-spacing: 0.25;
}

@media (max-width: 479px) {
  h1 + img {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  main p:nth-of-type(2) {
    clear: left;
  }

  nav {
    position: static;
  }
}

@media (min-width: 480px) {
  .photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
  }

  h1 + img {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  main p:nth-of-type(3) {
    clear: left;
  }

  nav {
    position: static;
  }
}

@media (min-width: 720px) {
  main {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .photos {
    display: flex;
    flex-flow: column nowrap;
  }

  aside {
    margin-left: 10px;
  }

  h1 + img {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  main p:nth-of-type(3) {
    clear: left;
  }
}

@media (min-width: 960px) {
  main {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
  }

  aside {
    margin-left: 10px;
  }

  h1 + img {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  main p:nth-of-type(3) {
    clear: left;
  }
}

@media (min-width: 1600px) {
  nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
}
